@import "../../../constants/colors.scss";

.container {
    padding: 25px 24px;
    width: 900px;
    height: 704px;
    background-color: $white;
    border-radius: 12px 12px 0px 0px;;

    @media screen and (max-width: 450px) {
        width: 100%;
    }
}

.main {
    font-size: 14px;
}

.form {
    margin-top: 24px;

    button {
        margin-top: 48px;
    }
}

.form_item {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    min-height: 110px;
}

.error {
    color: $error;
}