$grey: #F4F4F5;
$white: #FFFFFF;
$azure: #D5E4F7;
$purple: #5558FA;
$text-color: #333333;
$text-step-color: #666666;
$black-48: rgba(0, 0, 0, 0.48);
$black-16: rgba(0, 0, 0, 0.16);
$black-8: rgba(0, 0, 0, 0.08);
$black-4: rgba(0, 0, 0, 0.04);
$step-color: #A6A6A6;
$error: rgb(235, 52, 52);