@import "../../../constants/colors.scss";

.form {
    margin-top: 24px;
}

.form_item {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    min-height: 110px;
}

.buttons_group {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.select {
    width: 400px;

    @media screen and (max-width: 450px) {
        width: 80%;
    }
}

.error {
    color: $error;
}