.container {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
    }
}
